@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: BLACK;
  color: white;
}

nav a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsiveNav {
    transform: none;
  }
}


.discography {
  width: 100%;
  height: 70vh;
}

.discographyItem {
  width: 100px;
}

.discographyAlbums {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.cover {
  height: 100%;

}